In [ ]:
import re

 Problem 1: Extract Email Addresses

1. Description: Extract all email addresses from the given text.

In [ ]:
text = """Contact us at support@example.com or sales@company.org for assistance.
 For personal inquiries, email john.doe123@university.edu."""

txt  = text.split()
pattern = r'@+'

for i in txt:
  if re.search(pattern,i):
    print(i)

support@example.com
sales@company.org
john.doe123@university.edu.

Problem 2: Validate Phone Numbers

Description: Check if the phone numbers in the text follow the format:  XXX-XXX-XXXX.

In [ ]:
text1 = """ Valid: 123-456-7890, 987-654-3210
 Invalid: 12-345-67890, 1234567890, 123-45-6789"""

txt1 = text1.split()

pattern1 = r'\d{3}-\d{3}-\d{4}'

for i in txt1:
  if re.search(pattern1,i):
    print(i)

123-456-7890,
987-654-3210

 Problem 3: Extract Dates

 Description: Extract all dates in the format
DD/MM/YYYY or

In [ ]:
text2 = "25/12/2023, 01-01-2024, 31/05/2023, and 15-10-2024"
txt2 = text2.split()

pattern2 = r'\d{2}/\d{2}/\d{4}|\d{2}-\d{2}-\d{4}'

for i in txt2:
  if re.search(pattern2,i):
    print(i)

25/12/2023,
01-01-2024,
31/05/2023,
15-10-2024

 Problem 4: Find Repeated Words

 Description: Find all instances of repeated words in the text (e.g., "the the").

In [ ]:
text3 = "The the quick brown fox jumps over the the lazy dog."
txt3 = text3.lower()

pattern3 = r'\b(\w+)\s+\1\b'

matches = re.finditer(pattern3, txt3, flags=re.IGNORECASE)

for i in matches:
    print(i.group(0))

the the
the the

 Problem 5: Extract Hashtags

 Description: Extract all hashtags (words starting with starting with # ) from the text.

In [ ]:
text4 = "Check out our new products: #Sale2024, #NewArrival, and #Discounts!"
text4 = text4.split()

pattern4 = r'#\w+'

for i in text4:
    match = re.search(pattern4, i)
    if match:
        clean_tag = match.group().strip("!.,")
        print(clean_tag)

#Sale2024
#NewArrival
#Discounts

Problem 6: Validate Password Strength

Description: Check if the passwords meet the

1.At least 8 characters long

2.Contains at least one uppercase letter

3.Contains at least one lowercase letter

4.Contains at least one digit

In [ ]:
txt5 = """Valid: Password123, Secure456
Invalid: weak, password, Password"""

txt5 = txt5.split()

pattern5 = r'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$'

print("Valid passwords:")
for i in txt5:
  if re.search(pattern5,i):
    print(i)

Valid passwords:
Password123,
Secure456

Problem 7: Extract URLs

Description: Extract all URLs from the given text.

In [ ]:
txt6 = "Visit our website at https://www.example.com or check out http://blog.example.org for updates."
txt6 = txt6.split()

pattern6 = r'https?://\S+|www\.\S+'

for i in txt6:
  if re.search(pattern6,i):
    print(i)

https://www.example.com
http://blog.example.org

Problem 8: Replace Multiple Spaces with a Single Space

Description: Replace multiple spaces in the text with a single space.

In [ ]:
txt7 = "This   text   has   multiple   spaces."

txt7_clean = re.sub(r'\s+', ' ', txt7)

print(txt7_clean)

This text has multiple spaces.

Problem 9: Extract Quoted Text

Description: Extract all text within double quotes ( "..." ).

In [ ]:
txt8 = 'He said, "Hello, world!" and she replied, "Hi there!"'
pattern8 = r'"([^"]+)"'

matches = re.findall(pattern8, txt8)

for match in matches:
    print(match)

Hello, world!
Hi there!

Problem 10: Validate IP Addresses

Description: Check if the IP addresses in the text are valid (format: XXX.XXX.XXX.XXX ).

In [ ]:
import re

txt9 = '''Valid: 192.168.1.1, 10.0.0.255
Invalid: 256.1.2.3, 192.168.01.1, 192.168.1'''

words = txt9.replace(',', '').split()
pattern = r'^([0-9]{1,3}\.){3}[0-9]{1,3}$'

print("Valid IP addresses:")

for i in words:
    if re.match(pattern, i):
        octets = i.split('.')
        if all(0 <= int(o) <= 255 and (o == '0' or o[0] != '0') for o in octets):
            print(i)

Valid IP addresses:
192.168.1.1
10.0.0.255